<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Register</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<div class="container">
		<h1 class="title">Register</h1>
		<form th:action="@{/auth/register}" method="post" class="register" th:object="${user}">
			<div class="registerData">
				<label for="username">UserName</label>
				<input type="text" th:field="*{username}" required>
			</div>
			<div class="registerData">
				<label for="username">Password</label>
				<input type="password" th:field="*{password}" required>
			</div>
			<button type="submit" class="btn">Register</button>
		</form>
	</div>

</body>

</html>