<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Post Create</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<div class="container">
		<h1 class="title">Post Create</h1>
		<form th:action="@{/posts/save}" method="post" th:object="${post}">
			<div class="formData">
				<label for="title">Title</label>
				<input type="text" th:field="*{title}" placeholder="タイトルを入力">
				<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error"></div>
			</div>
			<div class="formData">
				<label for="title">Content</label>
				<textarea rows="5" th:field="*{content}" placeholder="内容を入力"></textarea>
				<div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="error"></div>
			</div>
			<input type="submit" value="送信" class="btn">
			<a th:href="@{/posts}" class="back">戻る</a>
		</form>
	</div>
</body>

</html>