<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>問い合わせ確認画面</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<div class="container">
		<h1 class="title">問い合わせ確認画面</h1>
		<form th:action="@{/contact/submit}" method="post">
			<div class="contact">
				<label>名前</label>
				<p th:text="${contactData.name}"></p>
				<input type="hidden" name="name" th:value="${contactData.name}">
			</div>
			<div class="contact">
				<label>メールアドレス</label>
				<p th:text="${contactData.email}"></p>
				<input type="hidden" name="email" th:value="${contactData.email}">
			</div>
			<div class="contact">
				<label>問い合わせ内容</label>
				<p th:text="${contactData.message}"></p>
				<input type="hidden" name="message" th:value="${contactData.message}">
			</div>
			<button type="submit" class="btn">送信</button>
			<a href="/contact" class="back">戻る</a>
		</form>
	</div>
</body>

</html>